# VARIADIC FUNCTION

In [2]:
from warnings import filterwarnings
filterwarnings("ignore")

In [5]:
def mul(a: int | float, b: int | float):
    """this function takes two numbers as input and returns the multiplication of the two numbers"""
    c = a * b
    return c

In [6]:
mul(4,3)

12

In [7]:
m1 = mul(2,3.1)
m1

6.2

In [8]:
# keyword arguments
m1 = mul(a=3, b=5)
m1

15

# Args in function
1. *args = will act like tuple in function

In [9]:
def func1(*args):
    print(args)
    print(type(args))
    for i in args:
        print(i)

In [10]:
func1("rohan",41,"hlo")

('rohan', 41, 'hlo')
<class 'tuple'>
rohan
41
hlo

# pass list as an argument

In [11]:
a = [ 1,2,3,4,4,5,6,7]
type(a)

list

In [12]:
func1(*a)

(1, 2, 3, 4, 4, 5, 6, 7)
<class 'tuple'>
1
2
3
4
4
5
6
7

### write a variadic function to apply multiplication of all agruments

In [13]:
def prod(*args):
    # initialize the product to 1
    p = 1

    # apply for loop on args
    for i in args:
        p = p * i

    return p

In [14]:
prod(4,5)

20

In [15]:
prod(4,5,6,7)

840

In [16]:
list = [ 1,2,33,34,32,21]
type(list)

list

In [18]:
prod(*list)            # *list is unpacking the list

1507968

### Billing example

In [19]:
c1 = {
    ("mobile" , 35000 , 2),
    ("screen guard", 500 , 4),
    ("cover", 300 ,5)
}

### for above cart value do the billing and add some tax rate

In [24]:
def billing(tax_rate: int | float, *args):
    # initialize total_before_tax
    total_bef_tax = 0

    # apply for loops on args
    for name, price, qty in args:
        item_total = price * qty
        total_bef_tax = total_bef_tax + item_total
        print(f"product name : {name} , price : {price} , quantity : {qty}")
        print(f" item_total : {item_total:.2f}")
        print("\n ======================================================\n")

    tax = tax_rate / 100 * total_bef_tax
    final_amount = total_bef_tax + tax

    # show the tax and the final total
    print(f"total before tax = {total_bef_tax:.2f}")
    print(f"Tax : {tax:.2f}")
    print(f"Final total = {final_amount:.2f}")

    # return the values of the final total
    return final_amount

In [25]:
billing(18, *c1)

product name : mobile , price : 35000 , quantity : 2
 item_total : 70000.00

 ======================================================

product name : screen guard , price : 500 , quantity : 4
 item_total : 2000.00

 ======================================================

product name : cover , price : 300 , quantity : 5
 item_total : 1500.00

 ======================================================

total before tax = 73500.00
Tax : 13230.00
Final total = 86730.00

86730.0

In [26]:
a2 = billing(
    18,
    ("Laptop", 70000, 1),
    ("Mouse", 800, 2),
    ("Keyboard", 1500, 1),
    ("Mouse Pad", 300, 2),
    ("Keyboard cover", 400, 1)
)

product name : Laptop , price : 70000 , quantity : 1
 item_total : 70000.00

 ======================================================

product name : Mouse , price : 800 , quantity : 2
 item_total : 1600.00

 ======================================================

product name : Keyboard , price : 1500 , quantity : 1
 item_total : 1500.00

 ======================================================

product name : Mouse Pad , price : 300 , quantity : 2
 item_total : 600.00

 ======================================================

product name : Keyboard cover , price : 400 , quantity : 1
 item_total : 400.00

 ======================================================

total before tax = 74100.00
Tax : 13338.00
Final total = 87438.00

# Keyword argument in python
1. **kwargs = It acts like a dictionary in python

In [33]:
def func2(**kwargs):            # key and value so keyword
    print(kwargs)
    print(type(kwargs))
    for key, value in kwargs.items():
        print(key, value)

In [32]:
func2(a=12 , name = "rohan" , age = 20)

{'a': 12, 'name': 'rohan', 'age': 20}
<class 'dict'>
a 12
name rohan
age 20

In [29]:
d = {
    "name":"rohan",
    "age":"20"
}

In [30]:
func2(**d)

{'name': 'rohan', 'age': '20'}
<class 'dict'>
name rohan
age 20

# Create a new user

In [34]:
def create_user(**kwargs):

    user = {
        "name" : "Na",
        "age" : "NA" ,
        "email" : "NA"
    }

    user.update(kwargs)

    return user

In [39]:

u1 = create_user(name="Rahul", age=29)

In [40]:
u1

{'name': 'Rahul', 'age': 29, 'email': 'NA'}

In [41]:

u2 = create_user(name="Raman")

In [42]:

u3 = create_user(
    name="Priya",
    age=35,
    email= "priya@test.com"
)

In [43]:
u3

{'name': 'Priya', 'age': 35, 'email': 'priya@test.com'}

In [44]:
u4 = create_user(
    name= "John",
    email = "john@test.com",
    contact = 9876543210
)

In [45]:
u4

{'name': 'John', 'age': 'NA', 'email': 'john@test.com', 'contact': 9876543210}