# Classes in object oriented programming (OOP)

In [1]:
a = 23
print(type(a))

<class 'int'>

In [2]:
c = "rohan"

print(type(c))

<class 'str'>

In [3]:
s = {
    "roll no" : [10,20,30] ,
    "name" : ["rohan","rohit","rani"]
}
print(type(a))

<class 'int'>

In [4]:
import pandas as pd

In [5]:
df = pd.DataFrame(s)
df

   roll no   name
0       10  rohan
1       20  rohit
2       30   rani

# Attributes are properties of class

Following are attributes of dataframe
1. df.shape
2. df.columns
3. df.index
4. df.head
5. df.values

print(type(df))

In [6]:
df.columns

Index(['roll no', 'name'], dtype='object')

In [7]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [8]:
df.shape

(3, 2)

In [9]:
df.head

<bound method NDFrame.head of    roll no   name
0       10  rohan
1       20  rohit
2       30   rani>

# Function / methods of class Dataframe

In [10]:
df.head(2)

   roll no   name
0       10  rohan
1       20  rohit

In [11]:
df.info()   # brackets added its a function

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   roll no  3 non-null      int64
 1   name     3 non-null      object
dtypes: int64(1), object(1)
memory usage: 180.0+ bytes

# Create a user defined class to store a persons information

### starting letter of all class must be captial to identify correctly the functions and the classes

In [12]:
class Person:

    # constructor function python = Define the attributes of class

    def __init__(self,name,age,gender,occupation):
        self.name = name
        self.age = age
        self.gender = gender
        self.occupation = occupation

    #  Introduce method for class function

    def intro(self):
        print(f"My name is {self.name}")
        print(f"I am {self.age} years old")
        print(f"my gender is {self.gender}")
        print(f"my occupation is {self.occupation}")

In [13]:
p1 = Person(name="rohan",age=45,gender="male",occupation="businessman")
p1

In [14]:
type(p1)

__main__.Person

### \_\_main\_\_ refers to current file in python

In [15]:
p1.age            # calling attributes

45

In [16]:
p1.gender

'male'

In [17]:
p1.occupation

'businessman'

In [18]:
# Method of Class Person
p1.intro()

My name is rohan
I am 45 years old
my gender is male
my occupation is businessman

In [19]:
p2 = Person(name="raj",age=34,gender="male",occupation="idk")

In [20]:
p2.intro()

My name is raj
I am 34 years old
my gender is male
my occupation is idk

In [21]:
p2.gender

'male'

### Modifying age of the p2

In [22]:
p2.age

34

In [23]:
p2.age = 35

In [24]:
p2.age

35

In [25]:
p2.intro()

My name is raj
I am 35 years old
my gender is male
my occupation is idk

In [26]:
### Create a dataclass using Decorator

In [27]:
from dataclasses import dataclass
from typing import Literal

In [28]:

@dataclass
class Person2:
    name: str
    age: int
    gender: Literal["male", "female"]
    occupation: str

    def __post_init__(self):
        errors = []

        if type(self.name) != str:
            errors.append("Name should be a string")
        if type(self.age) != int or self.age <= 0:
            errors.append("Age should be a positive integer")
        if self.gender not in ["male", "female"]:
            errors.append("Gender should be male or female")
        if type(self.occupation) != str:
            errors.append("Occupation should be a string")

        # raise the errors
        if errors:
            raise ValueError("\n".join(errors))
        
    def talk(self):
        print(f"My name is {self.name}")
        print(f"I am {self.age} years old")
        print(f"I am {self.gender}")
        print(f"I work as a {self.occupation}")

In [29]:
p3 = Person2(name="Raman", age=28, gender="male", occupation="Purchase Engg.")

In [30]:
p3

Person2(name='Raman', age=28, gender='male', occupation='Purchase Engg.')

In [31]:
p3.name

'Raman'

In [32]:
p3.age

28

In [33]:
p3.gender

'male'

In [34]:
p3.occupation

'Purchase Engg.'

In [35]:
p3.talk()

My name is Raman
I am 28 years old
I am male
I work as a Purchase Engg.

In [36]:
p4 = Person2(name="Rahul", age=-20, gender="male", occupation="Sales Engg.")

ValueError: Age should be a positive integer

In [45]:
p4 = Person2(name= 23, age=-34, gender="HR", occupation=34.5)

ValueError: Name should be a string
Age should be a positive integer
Gender should be male or female
Occupation should be a string

In [46]:
p5 = Person2(name="Rahul", age=20, gender="male", occupation="Sales Engg.")

In [47]:
p5.talk()

My name is Rahul
I am 20 years old
I am male
I work as a Sales Engg.

# HANDLE MULTIPLE BANK  ACCOUNTS

In [48]:

@dataclass
class Account:
    ac_no: int
    name: str
    bal: int|float

    def get_balance(self):
        print(f"Current balance for account : {self.ac_no} is {self.bal:.2f} INR")

    def deposit(self, amt: int|float):
        if amt <= 0:
            raise ValueError("Amount deposited cannot be negative or zero")
        
        self.bal = self.bal + amt

    def withdraw(self, amt: int|float):
        if amt >= self.bal:
            raise ValueError("Insufficent Balance")
        
        self.bal = self.bal - amt

    def transfer(self, amt: int|float, ac2: "Account"):
        self.withdraw(amt)
        ac2.deposit(amt)

In [49]:
a1 = Account(ac_no=1234, name="Rahul", bal= 5000)

In [50]:
a1

Account(ac_no=1234, name='Rahul', bal=5000)

In [51]:
a1.ac_no

1234

In [52]:
a1.name

'Rahul'

In [53]:
a1.bal

5000

In [54]:
a1.get_balance()

Current balance for account : 1234 is 5000.00 INR

In [55]:
a1.deposit(700)

In [56]:
a1.withdraw(6000)

ValueError: Insufficent Balance

In [57]:
a1.get_balance()

Current balance for account : 1234 is 5700.00 INR

In [58]:
a1.withdraw(1500)

In [59]:
a1.get_balance()

Current balance for account : 1234 is 4200.00 INR

In [60]:
a2 = Account(ac_no= 6789, name="Priya", bal=500)

In [61]:
a2

Account(ac_no=6789, name='Priya', bal=500)

In [62]:
a2.get_balance()

Current balance for account : 6789 is 500.00 INR

### Transfer from a1 to a2

In [64]:
a1.get_balance()

Current balance for account : 1234 is 4200.00 INR

In [65]:
a2.get_balance()

Current balance for account : 6789 is 500.00 INR

In [66]:
a1.transfer(2000, a2)

In [67]:
a1.get_balance()

Current balance for account : 1234 is 2200.00 INR

In [68]:
a2.get_balance()

Current balance for account : 6789 is 2500.00 INR

In [69]:
a1.transfer(3000, a2)

ValueError: Insufficent Balance

In [70]:
a1.get_balance()

Current balance for account : 1234 is 2200.00 INR

In [71]:
a2.get_balance()

Current balance for account : 6789 is 2500.00 INR

## Transfer from a2 to a1

In [72]:
a2.transfer(800, a1)

In [73]:
a1.get_balance()

Current balance for account : 1234 is 3000.00 INR

In [74]:
a2.get_balance()

Current balance for account : 6789 is 1700.00 INR